$THEME: #7AC2A1;
$TABLE_BORDER: #ddd;
$BACKGROUND: white;
$NOTE: #888;

@import 'reset';
@import 'spinner';

.ita-search-widget-container {
  background-color: $BACKGROUND;
  display: block;
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0 auto;
  padding: 0;
  width: 600px;
  line-height: 1em;

  * {
    box-sizing: content-box;
  }

  a {
    cursor: pointer;
    text-decoration: none;
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }

  form {
    background-color: $THEME;
    display: block;
    margin: 0;
    padding: 5px 5px 10px;
    width: 590px;
    p {
      color: $BACKGROUND;
      display: block;
      font-size: 16px;
      height: 19px;
      margin: 0;
      width: 590px;
    }
    input[type=text] {
      -webkit-appearance: none;
      -webkit-rtl-ordering: logical;
      -webkit-user-select: text;
      background-color: $BACKGROUND;
      border: 0;
      cursor: auto;
      display: inline-block;
      font-size: 16px;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      height: 24px;
      letter-spacing: normal;
      line-height: 24px;
      margin: 8px 0 0 0;
      padding: 1px;
      text-align: start;
      text-indent: 0px;
      text-rendering: auto;
      text-shadow: none;
      text-transform: none;
      vertical-align: baseline;
      width: 70%;
      word-spacing: 0px;
      writing-mode: lr-tb;
      -webkit-writing-mode: horizontal-tb;
      zoom: 1;
    }

    input[type=submit] {
      -webkit-appearance: none;
      -webkit-rtl-ordering: logical;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      background-color: $BACKGROUND;
      border: 0;
      color: $THEME;
      cursor: pointer;
      display: inline-block;
      font-size: 16px;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      height: 24px;
      letter-spacing: normal;
      line-height: normal;
      margin: 0 0 0 6px;
      padding: 1px;
      text-align: center;
      text-indent: 0px;
      text-rendering: auto;
      text-shadow: none;
      text-transform: none;
      vertical-align: baseline;
      white-space: nowrap;
      width: 25%;
      word-spacing: 0px;
      writing-mode: lr-tb;
    }
  }

  .ita-search-widget-results {
    border: 1px solid $TABLE_BORDER;
    border-top: 0;
    display: block;
    width: 598px;

    .ita-search-widget-total {
      color: $NOTE;
      display: block;
      font-size: 16px;
      font-style: normal;
      font-variant: normal;
      font-weight: 300;
      height: 24px;
      line-height: 24px;
      margin: 0;
      padding: 15px 40px;
      zoom: 1;
    }

    ul {
      display: block;
      list-style-type: none;
      margin: 0;
      padding: 0 40px 15px;
      width: 518px;

      li {
        line-height: 24px;
        a {
          background-color: $BACKGROUND;
          color: $THEME;
          display: inline;
          font-size: 16px;
          font-style: normal;
          font-variant: normal;
          font-weight: normal;
          height: auto;
          width: auto;
          zoom: 1;
        }

        table {
          -webkit-border-horizontal-spacing: 0px;
          -webkit-border-vertical-spacing: 0px;
          background-color: $BACKGROUND;
          border: 1px solid $TABLE_BORDER;
          border-width: 0 0 1px 1px;
          color: $NOTE;
          display: table;
          empty-cells: show;
          list-style-type: none;
          margin: 5px 0 15px;
          overflow-x: visible;
          overflow-y: visible;
          text-align: left;
          width: 518px;
          word-break: normal;
          zoom: 1;

          tr {
            display: table-row;
            border-collapse: collapse;
            color: $NOTE;
            vertical-align: middle;

            td {
              background-color: white;
              border: 1px solid $TABLE_BORDER;
              border-width: 1px 1px 0 0;
              color: $NOTE;
              display: table-cell;
              empty-cells: show;
              font-size: 16px;
              font-style: normal;
              font-variant: normal;
              font-weight: 300;
              line-height: 24px;
              margin: 0;
              padding: 5px;
              overflow-x: visible;
              overflow-y: visible;
              text-align: left;
              vertical-align: top;
              zoom: 1;

              &:first-child {
                word-wrap: break-word;
                word-break: break-word;
                width: 140px;
              }
              &:nth-child(2) {
                word-wrap: break-word;
                word-break: break-word;
                width: 440px;
              }
            }
          }
        }
      }
    }
  }

  .ita-search-widget-footer {
    background-color: $THEME;
    width: 600px;
    height: 24px;
    line-height: 24px;
    color: white;

    .ita-search-widget-pagination {
      height: 24px;
      padding: 0;
      float: left;

      @mixin page {
        color: white;
        display: block;
        float: left;
        padding: 0 5px;
        width: auto;
      }

      a {
        @include page;
      }
      span.current {
        @include page;
        background-color: darken($THEME, 15%);
        height: 24px;
      }
    }

    .ita-search-widget-clear,
    .ita-search-widget-more-info {
      height: 24px;
      float: left;
      padding: 0 5px 0 10px;
      &::before {
        content: "|";
      }
      a {
        color: white;
        padding: 0 0 0 15px;
      }
    }
  }
}
