$THEME: #7AC2A1;
$TABLE_BORDER: #ddd;

@import 'reset';

.ita-search-widget-container {
  background-color: rgb(255, 255, 255);
  display: block;
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0 auto;
  padding: 0;
  width: 600px;
  line-height: 1em;

  * {
    box-sizing: content-box;
  }

  form {
    background-color: rgb(122, 194, 161);
    display: block;
    margin: 0;
    padding: 5px 5px 10px;
    width: 590px;
    p {
      color: rgb(255, 255, 255);
      display: block;
      font-size: 16px;
      height: 19px;
      margin: 0;
      width: 590px;
    }
    input[type=text] {
      -webkit-appearance: none;
      -webkit-rtl-ordering: logical;
      -webkit-user-select: text;
      background-color: rgb(255, 255, 255);
      border-bottom-color: rgb(0, 0, 0);
      border-bottom-style: none;
      border-bottom-width: 0px;
      border-image-outset: 0px;
      border-image-repeat: stretch;
      border-image-slice: 100%;
      border-image-source: none;
      border-image-width: 1;
      border-left-color: rgb(0, 0, 0);
      border-left-style: none;
      border-left-width: 0px;
      border-right-color: rgb(0, 0, 0);
      border-right-style: none;
      border-right-width: 0px;
      border-top-color: rgb(0, 0, 0);
      border-top-style: none;
      border-top-width: 0px;
      box-shadow: rgb(221, 221, 221) 0px 1px 3px 0px inset;
      color: rgb(0, 0, 0);
      cursor: auto;
      display: inline-block;
      font-size: 16px;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      height: 24px;
      letter-spacing: normal;
      line-height: 24px;
      margin-bottom: 0px;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 8px;
      padding-bottom: 1px;
      padding-left: 1px;
      padding-right: 1px;
      padding-top: 1px;
      text-align: start;
      text-indent: 0px;
      text-rendering: auto;
      text-shadow: none;
      text-transform: none;
      vertical-align: baseline;
      width: 442.5px;
      word-spacing: 0px;
      writing-mode: lr-tb;
      -webkit-writing-mode: horizontal-tb;
      zoom: 1;
    }

    input[type=submit] {
      -webkit-appearance: none;
      -webkit-rtl-ordering: logical;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      background-color: rgb(255, 255, 255);
      border-bottom-color: rgb(122, 194, 161);
      border-bottom-style: none;
      border-bottom-width: 0px;
      border-image-outset: 0px;
      border-image-repeat: stretch;
      border-image-slice: 100%;
      border-image-source: none;
      border-image-width: 1;
      border-left-color: rgb(122, 194, 161);
      border-left-style: none;
      border-left-width: 0px;
      border-right-color: rgb(122, 194, 161);
      border-right-style: none;
      border-right-width: 0px;
      border-top-color: rgb(122, 194, 161);
      border-top-style: none;
      border-top-width: 0px;
      color: rgb(122, 194, 161);
      cursor: pointer;
      display: inline-block;
      font-size: 16px;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      height: 24px;
      letter-spacing: normal;
      line-height: normal;
      margin-bottom: 0px;
      margin-left: 6px;
      margin-right: 0px;
      margin-top: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 0px;
      text-align: center;
      text-indent: 0px;
      text-rendering: auto;
      text-shadow: none;
      text-transform: none;
      vertical-align: baseline;
      white-space: nowrap;
      width: 118px;
      word-spacing: 0px;
      writing-mode: lr-tb;
    }
  }

  .ita-search-widget-result {
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 0px;
    display: block;
    width: 598px;

    .ita-search-widget-total {
      color: rgb(119, 119, 119);
      display: block;
      font-size: 16px;
      font-style: normal;
      font-variant: normal;
      font-weight: 300;
      height: 25px;
      margin-bottom: 0px;
      margin-left: 40px;
      margin-right: 0px;
      margin-top: 0px;
      padding-top: 15px;
      zoom: 1;
    }

    ul {
      display: block;
      list-style-type: none;
      margin: 0;
      padding: 0 40px 15px;
      width: 518px;

      li {
        line-height: 25px;
        a {
          background-color: rgba(0, 0, 0, 0);
          color: $THEME;
          cursor: pointer;
          display: inline;
          font-size: 16px;
          font-style: normal;
          font-variant: normal;
          font-weight: normal;
          height: auto;
          text-decoration: none;
          width: auto;
          zoom: 1;
        }

        table {
          -webkit-border-horizontal-spacing: 0px;
          -webkit-border-vertical-spacing: 0px;
          background-color: rgba(0, 0, 0, 0);
          border: 1px solid $TABLE_BORDER;
          border-width: 0 0 1px 1px;
          color: rgb(119, 119, 119);
          display: table;
          empty-cells: show;
          list-style-type: none;
          margin-bottom: 15px;
          margin-left: 0px;
          margin-right: 0px;
          margin-top: 5px;
          overflow-x: visible;
          overflow-y: visible;
          text-align: left;
          width: 518px;
          word-break: normal;
          zoom: 1;

          tr {
            display: table-row;
            border-collapse: collapse;
            color: rgb(119, 119, 119);
            vertical-align: middle;

            td {
              background-color: white;
              border: 1px solid $TABLE_BORDER;
              border-width: 1px 1px 0 0;
              color: rgb(119, 119, 119);
              display: table-cell;
              empty-cells: show;
              font-size: 16px;
              font-style: normal;
              font-variant: normal;
              font-weight: 300;
              line-height: 25px;
              margin-bottom: 0px;
              margin-left: 0px;
              margin-right: 0px;
              margin-top: 0px;
              padding: 0;
              overflow-x: visible;
              overflow-y: visible;
              text-align: left;
              vertical-align: top;
              zoom: 1;

              &:first-child {
                word-wrap: break-word;
                word-break: break-word;
                width: 150px;
              }
              &:nth-child(2) {
                word-wrap: break-word;
                word-break: break-word;
                width: 450px;
              }
            }
          }
        }
      }
    }
  }

  .ita-search-widget-pagination {
    background-color: $THEME;
    height: 24px;
    line-height: 24px;
    padding: 0;
    width: 600px;

    @mixin page {
      color: white;
      display: block;
      float: left;
      padding: 0 5px;
      text-decoration: none;
      width: auto;
    }

    a {
      @include page;
      cursor: pointer;
      &:hover,
      &:active {
        text-decoration: underline;
      }
    }
    span.current {
      @include page;
      background-color: darken($THEME, 15%);
      height: 24px;
    }
  }
}
