.widget-container {
  background-color: white;
  display: block;
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0 auto;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  width: 600px;
  line-height: 1em; }
  .widget-container * {
    font-size: 1em;
  }
  .widget-container form {
    background-color: #7ac2a1;
    display: block;
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    width: 598px; }
    .widget-container form p {
      color: white;
      display: block;
      font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
      height: 19px;
      margin-bottom: 0px;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
      width: 590px; }
    .widget-container form input[type=text] {
      -webkit-appearance: none;
      -webkit-rtl-ordering: logical;
      -webkit-user-select: text;
      background-color: white;
      border-bottom-color: black;
      border-bottom-style: none;
      border-bottom-width: 0px;
      border-image-outset: 0px;
      border-image-repeat: stretch;
      border-image-slice: 100%;
      border-image-source: none;
      border-image-width: 1;
      border-left-color: black;
      border-left-style: none;
      border-left-width: 0px;
      border-right-color: black;
      border-right-style: none;
      border-right-width: 0px;
      border-top-color: black;
      border-top-style: none;
      border-top-width: 0px;
      box-shadow: #dddddd 0px 1px 3px 0px inset;
      box-sizing: border-box;
      color: black;
      cursor: auto;
      display: inline-block;
      font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      height: 24px;
      letter-spacing: normal;
      line-height: 24px;
      margin-bottom: 0px;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 8px;
      padding-bottom: 1px;
      padding-left: 1px;
      padding-right: 1px;
      padding-top: 1px;
      text-align: start;
      text-indent: 0px;
      text-rendering: auto;
      text-shadow: none;
      text-transform: none;
      vertical-align: baseline;
      width: 442.5px;
      word-spacing: 0px;
      writing-mode: lr-tb;
      -webkit-writing-mode: horizontal-tb;
      zoom: 1; }
    .widget-container form input[type=submit] {
      -webkit-appearance: none;
      -webkit-rtl-ordering: logical;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      background-color: white;
      border-bottom-color: #7ac2a1;
      border-bottom-style: none;
      border-bottom-width: 0px;
      border-image-outset: 0px;
      border-image-repeat: stretch;
      border-image-slice: 100%;
      border-image-source: none;
      border-image-width: 1;
      border-left-color: #7ac2a1;
      border-left-style: none;
      border-left-width: 0px;
      border-right-color: #7ac2a1;
      border-right-style: none;
      border-right-width: 0px;
      border-top-color: #7ac2a1;
      border-top-style: none;
      border-top-width: 0px;
      box-sizing: border-box;
      color: #7ac2a1;
      cursor: pointer;
      display: inline-block;
      font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      height: 24px;
      letter-spacing: normal;
      line-height: normal;
      margin-bottom: 0px;
      margin-left: 6px;
      margin-right: 0px;
      margin-top: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 0px;
      text-align: center;
      text-indent: 0px;
      text-rendering: auto;
      text-shadow: none;
      text-transform: none;
      vertical-align: baseline;
      white-space: nowrap;
      width: 118px;
      word-spacing: 0px;
      writing-mode: lr-tb; }
  .widget-container #widget-result {
    border-bottom-color: #dddddd;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: #dddddd;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #dddddd;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #dddddd;
    border-top-style: solid;
    border-top-width: 0px;
    display: block;
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 598px; }
    .widget-container #widget-result #pagination-total {
      box-sizing: border-box;
      color: #777777;
      display: block;
      font-size: 16px;
      font-style: normal;
      font-variant: normal;
      font-weight: 300;
      height: 25px;
      margin-bottom: 0px;
      margin-left: 40px;
      margin-right: 0px;
      margin-top: 0px;
      padding-top: 15px;
      zoom: 1; }
    .widget-container #widget-result ul {
      display: block;
      font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
      list-style-type: none;
      margin-bottom: 0px;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
      padding-bottom: 15px;
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 20px;
      width: 518px; }
      .widget-container #widget-result ul li {
        line-height: 25px; }
        .widget-container #widget-result ul li a {
          background-color: transparent;
          box-sizing: border-box;
          color: #7AC2A1;
          cursor: pointer;
          display: inline;
          font-size: 16px;
          font-style: normal;
          font-variant: normal;
          font-weight: normal;
          height: auto;
          text-decoration: none;
          width: auto;
          zoom: 1; }
        .widget-container #widget-result ul li table {
          -webkit-border-horizontal-spacing: 0px;
          -webkit-border-vertical-spacing: 0px;
          background-color: transparent;
          border-bottom-color: #cbcbcb;
          border-bottom-style: solid;
          border-bottom-width: 1px;
          border-collapse: collapse;
          border-image-outset: 0px;
          border-image-repeat: stretch;
          border-image-slice: 100%;
          border-image-source: none;
          border-image-width: 1;
          border-left-color: #cbcbcb;
          border-left-style: solid;
          border-left-width: 1px;
          border-right-color: #cbcbcb;
          border-right-style: solid;
          border-right-width: 1px;
          border-top-color: #cbcbcb;
          border-top-style: solid;
          border-top-width: 1px;
          box-sizing: border-box;
          color: #777777;
          display: table;
          empty-cells: show;
          font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
          font-size: 17.6000003814697px;
          line-height: 26.3999996185303px;
          list-style-type: none;
          margin-bottom: 15px;
          margin-left: 0px;
          margin-right: 0px;
          margin-top: 5px;
          overflow-x: visible;
          overflow-y: visible;
          text-align: left;
          width: 518px;
          word-break: normal;
          zoom: 1; }
          .widget-container #widget-result ul li table tr {
            display: table-row;
            border-bottom-color: #cbcbcb;
            border-collapse: collapse;
            border-left-color: #cbcbcb;
            border-right-color: #cbcbcb;
            border-top-color: #cbcbcb;
            box-sizing: border-box;
            color: #777777;
            vertical-align: middle; }
            .widget-container #widget-result ul li table tr td {
              background-color: transparent;
              border-bottom-color: #cbcbcb;
              border-bottom-style: solid;
              border-bottom-width: 1px;
              border-left-color: #cbcbcb;
              border-left-style: solid;
              border-left-width: 0px;
              box-sizing: border-box;
              color: #777777;
              display: table-cell;
              empty-cells: show;
              font-size: 16px;
              font-style: normal;
              font-variant: normal;
              font-weight: 300;
              line-height: 25px;
              margin-bottom: 0px;
              margin-left: 0px;
              margin-right: 0px;
              margin-top: 0px;
              overflow-x: visible;
              overflow-y: visible;
              text-align: left;
              vertical-align: top;
              zoom: 1; }
              .widget-container #widget-result ul li table tr td:first-child {
                word-wrap: break-word;
                word-break: break-word;
                width: 150px; }
              .widget-container #widget-result ul li table tr td:nth-child(2) {
                word-wrap: break-word;
                word-break: break-word;
                width: 450px;
                border-width: 0 0 1px 1px; }
  .widget-container #pagination {
    padding: 3px;
    background-color: #7AC2A1;
    display: block;
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1em;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    width: 598px; }
    .widget-container #pagination a, .widget-container #pagination span {
      color: white;
      cursor: pointer;
      display: inline;
      font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
      height: auto;
      margin-bottom: 2px;
      margin-left: 2px;
      margin-right: 2px;
      margin-top: 2px;
      padding-bottom: 2px;
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 2px;
      text-decoration: none;
      width: auto; }
      .widget-container #pagination a:hover,
      .widget-container #pagination a:active, .widget-container #pagination span:hover,
      .widget-container #pagination span:active {
        text-decoration: underline; }
    .widget-container #pagination .current {
      padding: 0 5px;
      margin: 2px;
      color: white;
      background-color: #4ba47b; }
